.experience {

    .zuno, .vocera {
        margin-left: auto;
        margin-right: auto;
        width: 75vw; 
    }

    .vocera {
        margin-top: 40px;
    }

    .role {
        font-size: 1.5rem;
        text-decoration: underline;
    }

    .work-info {
        font-size: 0.9rem;
        margin-top: 5px;
        text-align: justify;
        list-style-type: disc;
        margin-left: 16px;
    }
}