.project-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.project-card {
    background-color: black;
    border: 1px solid #5a5a5a;
    box-shadow: 0px 1px 4px #5a5a5a;
    color: white;
    border-radius: 20px;
    &:hover {
        // filter: brightness(70%);
        cursor: pointer;
    }
}

.project-decription {
    margin-top: 5px;
    font-size: 0.95rem;
}

.technology-tile {
    display: inline-block;
    font-size: 0.8rem;
    padding: 1px 3px;
    margin-right: 3px;
    border: 1px solid white;
    border-radius: 5px;
    &:hover {
        border-color: #008DDA;
        color: pink;
    }
}